.slide-turmas {
	position:absolute; bottom:0;opacity:0.9;height:160px;padding-top:10px;background:#333;
}

.cameraview-wrapper {
	background-color: #333;
	border: 1px solid white;
	opacity: 0.6;
	position: fixed;
    top:10px;
    left:10px;
    box-shadow: inset 50px 50px 300px rgba(0,0,0,0.8);
}
